.loginregister-holder {
    background-color: var(--elementbgToggleable);
    padding: 20px;
    margin: 20px;
    width: 200px;
    align-self: center;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 10px 30px var(--boxglowToggleable), inset 0 0 100px rgba(255, 255, 255, 0.322);
}

form button:last-of-type {
    align-self: flex-end;
    margin-top: auto;
}

.loginregister-holder>form {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.loginregister-holder>form button {
    position:absolute;
    bottom: 55px;
}