.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  box-sizing: border-box;
  width: 100%;
}

.navbar-toggle {
  background-color: #fff;
  color: #333;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.navbar-menu {
  display: none;
  width: 100%;
}

.navbar-links {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.navbar-links a.active button {
  background-color: #58a9ff;
}

.navbar-links a {
  margin: auto 10px;
}

.nightmode-toggle {
  align-self: center;
  margin-left: auto;
  color: white;
  font-size: 24pt;
  padding: 0 10px;
}

@media (min-width: 768px) {
  .navbar-menu {
    display: flex;
  }

  .navbar-link {
    margin-right: 0;
  }
}
