.request {
    max-width: 250px;
    align-self: center;

    background-color: var(--elementbg-Toggle);
    margin: 20px;
    width: 250px;
    align-self: center;
    border-radius: 10px;
    box-shadow: 0 10px 30px var(--boxglow-Toggle);
    transition: all 0.25s;

    padding: 20px;
}

.request-form {
    display: flex;
    flex-direction: column;
}

.request-form button {
    margin-top: 10px;
}

.react-datepicker__tab-loop {
    position: absolute;
    z-index: 50;
}

.react-datepicker__input-container input {
    padding:8px;
    margin: 8px;
}