#content {
  max-width: 1280px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.loading-icon {
    animation: rotating 2s linear infinite;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}