#content {
  max-width: 1280px;
  display: flex;
  text-align: center;
  justify-content: center;
  min-height: 300px;
  align-items: center;
}

.loading-icon {
    animation: rotating 2s linear infinite;
}

.feedback.type-error {background-color: rgb(255, 186, 107);}
.feedback.type-success {background-color: rgb(174, 255, 107);}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}