#content {
  display: flex;
  text-align: center;
  align-content: center;
  min-height: 300px;
  flex-direction: column;
  padding: 20px;
}

button {
    width: fit-content;
}

form>input {
    min-height: 35px;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.loading-icon {
    animation: rotating 2s linear infinite;
}

h2 {
    margin: 0;
}

.feedback.type-error {background-color: rgb(255, 186, 107);}
.feedback.type-success {background-color: rgb(174, 255, 107);}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}